In [3]:
#import os
import json
import pandas as pd

In [4]:

# Open the JSON file
with open(r'C:\Users\kesav\Guvi\airbn.json', 'r') as file:
    # Load the JSON data
    data = json.load(file)
# Now 'data' contains the contents of the JSON file
# You can access the data like you would with any Python dictionary

In [5]:
D1= {'listing_id':[],'listing_url':[],'host_id':[],'host_name':[],'host_location':[],
     'listing_name':[],'listing_street':[],'suburb':[],'government_area':[],'market':[],'country':[],'country_code':[],
     'longitude':[],'latitude':[],'is_location_exact':[],
     'availability_365':[],'listing_description':[],'rules':[],'property_type':[],
     'room_type':[],'bed_type':[],'min_stay':[],'max_stay':[],'cancel_policy':[],
     'last_update':[],'accommodates':[],'bedrooms':[],'beds':[],'bathrooms':[],'total_review':[],
    'price':[],'security_deposit':[],'cleaning_fee':[],'extra_people':[],'guests_included':[],
    'images':[],'review_scores_rating':[]
     }

In [6]:
for i in data:
    D1['listing_id'].append(i.get('_id',None))
    D1['listing_url'].append(i.get('listing_url',None))
    D1['host_id'].append(i['host'].get('host_id',None))
    D1['host_name'].append(i['host'].get('host_name',None))
    D1['host_location'].append(i['host'].get('host_location',None))
    D1['listing_name'].append(i.get('name',None)) 
    D1['listing_street'].append(i['address'].get('street',None))
    D1['suburb'].append(i['address'].get('suburb',None))
    D1['government_area'].append(i['address'].get('government_area',None))
    D1['market'].append(i['address'].get('market',None))
    D1['country'].append(i['address'].get('country',None))
    D1['country_code'].append(i['address'].get('country_code',None))
    
    D1['longitude'].append(i['address']['location']['coordinates'][0])
    D1['latitude'].append(i['address']['location']['coordinates'][1])
    
    D1['is_location_exact'].append(i['address']['location'].get('is_location_exact',None))
    D1['availability_365'].append(i['availability'].get('availability_365',None))
    D1['listing_description'].append(i.get('description',None))
    D1['rules'].append(i.get('house_rules',None))
    D1['property_type'].append(i.get('property_type',None))
    D1['room_type'].append(i.get('room_type',None))
    D1['bed_type'].append(i.get('bed_type',None))
    D1['min_stay'].append(i.get('minimum_nights',None))
    D1['max_stay'].append(i.get('maximum_nights',None))
    D1['cancel_policy'].append(i.get('cancellation_policy',None))
    D1['last_update'].append(i.get('last_scraped',None))
    D1['accommodates'].append(i.get('accommodates',None))
    D1['bedrooms'].append(i.get('bedrooms',None))
    D1['beds'].append(i.get('beds',None))
    D1['bathrooms'].append(i.get('bathrooms',None))
    D1['total_review'].append(i.get('number_of_reviews',None))
    D1['price'].append(i.get('price',None))
    D1['security_deposit'].append(i.get('security_deposit',None))
    D1['cleaning_fee'].append(i.get('cleaning_fee',None))
    D1['extra_people'].append(i.get('extra_people',None))
    D1['guests_included'].append(i.get('guests_included',None))
    D1['images'].append(i['images'].get('picture_url',None))
    D1['review_scores_rating'].append(i['review_scores'].get('review_scores_rating',None))

In [7]:
lengths_dict = {}
for key, value in D1.items():
    lengths_dict[key] = len(value)

# Print lengths
print(lengths_dict)

{'listing_id': 5555, 'listing_url': 5555, 'host_id': 5555, 'host_name': 5555, 'host_location': 5555, 'listing_name': 5555, 'listing_street': 5555, 'suburb': 5555, 'government_area': 5555, 'market': 5555, 'country': 5555, 'country_code': 5555, 'longitude': 5555, 'latitude': 5555, 'is_location_exact': 5555, 'availability_365': 5555, 'listing_description': 5555, 'rules': 5555, 'property_type': 5555, 'room_type': 5555, 'bed_type': 5555, 'min_stay': 5555, 'max_stay': 5555, 'cancel_policy': 5555, 'last_update': 5555, 'accommodates': 5555, 'bedrooms': 5555, 'beds': 5555, 'bathrooms': 5555, 'total_review': 5555, 'price': 5555, 'security_deposit': 5555, 'cleaning_fee': 5555, 'extra_people': 5555, 'guests_included': 5555, 'images': 5555, 'review_scores_rating': 5555}

In [8]:
Df1=pd.DataFrame(D1)

In [9]:
Df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   listing_id            5555 non-null   object
 1   listing_url           5555 non-null   object
 2   host_id               5555 non-null   object
 3   host_name             5555 non-null   object
 4   host_location         5555 non-null   object
 5   listing_name          5555 non-null   object
 6   listing_street        5555 non-null   object
 7   suburb                5555 non-null   object
 8   government_area       5555 non-null   object
 9   market                5555 non-null   object
 10  country               5555 non-null   object
 11  country_code          5555 non-null   object
 12  longitude             5555 non-null   float64
 13  latitude              5555 non-null   float64
 14  is_location_exact     5555 non-null   bool
 15  availability_365      5555 non-null   int64
 16  listing_description   5555 non-null   object
 17  rules                 5555 non-null   object
 18  property_type         5555 non-null   object
 19  room_type             5555 non-null   object
 20  bed_type              5555 non-null   object
 21  min_stay              5555 non-null   object
 22  max_stay              5555 non-null   object
 23  cancel_policy         5555 non-null   object
 24  last_update           5555 non-null   object
 25  accommodates          5555 non-null   int64
 26  bedrooms              5550 non-null   float64
 27  beds                  5542 non-null   float64
 28  bathrooms             5545 non-null   float64
 29  total_review          5555 non-null   int64
 30  price                 5555 non-null   float64
 31  security_deposit      3471 non-null   float64
 32  cleaning_fee          4024 non-null   float64
 33  extra_people          5555 non-null   float64
 34  guests_included       5555 non-null   float64
 35  images                5555 non-null   object
 36  review_scores_rating  4081 non-null   float64
dtypes: bool(1), float64(11), int64(3), object(22)
memory usage: 1.5+ MB

to find if there are any duplicated listing_id in the data frame

In [10]:
double=Df1.duplicated(subset = 'listing_id', keep = False)
print(double.sum())

0

In [11]:
Df1['listing_id']=Df1['listing_id'].astype(str)
Df1['host_id']=Df1['host_id'].astype(str)

In [12]:
Df1['property_type'].unique()

array(['Apartment', 'Bed and breakfast', 'Guesthouse', 'Hostel',
       'Serviced apartment', 'Loft', 'House', 'Condominium', 'Treehouse',
       'Guest suite', 'Bungalow', 'Townhouse', 'Villa', 'Cabin', 'Other',
       'Farm stay', 'Chalet', 'Boutique hotel', 'Cottage', 'Boat',
       'Earth house', 'Aparthotel', 'Resort', 'Tiny house',
       'Nature lodge', 'Hotel', 'Camper/RV', 'Casa particular (Cuba)',
       'Barn', 'Hut', 'Heritage hotel (India)', 'Pension (South Korea)',
       'Campsite', 'Castle', 'Houseboat', 'Train'], dtype=object)

len(Df1['property_type'].unique())
Categorization of property type

Creating a dictionary to replace property type into 8 different types

In [13]:
p_type={'Apartment':'Apartment','Serviced apartment':'Apartment','Aparthotel':'Apartment','Condominium':'Apartment',
        'Bed and breakfast':'house_guest','Loft':'house_guest','Cabin':'house_guest','Guesthouse':'house_guest',
        'Cottage':'house_guest','Hostel':'house_guest','Treehouse':'Eco_Stay','Campsite':'Eco_Stay','Hut':'Eco_Stay',
        'Bungalow':'private_stay','Farm stay':'private_stay','Castle':'private_stay','Barn':'private_stay',
        'House':'House','Townhouse':'House','Villa':'House','Chalet':'House','Earth house':'House',
        'Tiny house':'House','Casa particular (Cuba)':'House','Hotel':'Hotel','Resort':'Hotel','Pension (South Korea)':'Hotel',
       'Nature lodge':'Hotel','Guest suite':'Hotel','Heritage hotel (India)':'Hotel','Boutique hotel':'Hotel',
       'Boat':'motor_stay','Camper/RV':'motor_stay','Houseboat':'motor_stay','Train':'motor_stay'
       }

Replacing 36 property type categories into 8 different types

In [14]:
Df1['property_type']=Df1['property_type'].replace(p_type)
Df1['property_type'].unique()

array(['Apartment', 'house_guest', 'House', 'Eco_Stay', 'Hotel',
       'private_stay', 'Other', 'motor_stay'], dtype=object)

In [15]:
Df1['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [16]:
Df1.isnull().sum()

listing_id                 0
listing_url                0
host_id                    0
host_name                  0
host_location              0
listing_name               0
listing_street             0
suburb                     0
government_area            0
market                     0
country                    0
country_code               0
longitude                  0
latitude                   0
is_location_exact          0
availability_365           0
listing_description        0
rules                      0
property_type              0
room_type                  0
bed_type                   0
min_stay                   0
max_stay                   0
cancel_policy              0
last_update                0
accommodates               0
bedrooms                   5
beds                      13
bathrooms                 10
total_review               0
price                      0
security_deposit        2084
cleaning_fee            1531
extra_people               0
guests_included            0
images                     0
review_scores_rating    1474
dtype: int64

Fill  null values with a new value

In [17]:
Df1['bedrooms']=Df1['bedrooms'].fillna(1)

In [18]:
Df1['bedrooms'].isnull().sum()

0

In [19]:
Df1['beds'].isnull().sum()

13

In [20]:
Df1['beds']=Df1['beds'].fillna(1)

In [21]:
Df1['beds'].isnull().sum()

0

In [22]:
Df1['bathrooms'].isnull().sum()

10

In [23]:
Df1['bathrooms']=Df1['bathrooms'].fillna(1)

In [24]:
Df1['bathrooms'].isnull().sum()

0

In [25]:
Df1.groupby('property_type').security_deposit.mean()

property_type
Apartment       514.925635
Eco_Stay        100.000000
Hotel           189.821053
House           622.610278
Other           371.777778
house_guest     368.676617
motor_stay        0.000000
private_stay    234.375000
Name: security_deposit, dtype: float64

Replacing security deposit NAN values with mean security deposit values grouped by property type

In [26]:
Df1['security_deposit'].isnull().sum()

2084

In [27]:
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'Apartment'),'security_deposit'] = 514.925635
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'Eco_Stay'),'security_deposit']  =  100.000000
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'Hotel'),'security_deposit'] = 189.821053
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'House'),'security_deposit'] = 622.610278
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'Other'),'security_deposit'] = 371.777778
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'motor_stay'),'security_deposit'] = 0.000000
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'private_stay'),'security_deposit'] = 234.375000
Df1.loc[(Df1['security_deposit'].isna()) & (Df1['property_type'] == 'house_guest'),'security_deposit'] = 368.676617

In [28]:
Df1['security_deposit'].isnull().sum()

0

In [29]:
Df1['cleaning_fee'].isnull().sum()

1531

Finding the mean value of cleaning fee

In [30]:
Df1.groupby('property_type').cleaning_fee.mean()

property_type
Apartment        90.849887
Eco_Stay         36.666667
Hotel            64.017544
House           128.687386
Other            91.846154
house_guest      70.701422
motor_stay       81.000000
private_stay     80.300000
Name: cleaning_fee, dtype: float64

In [31]:
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'Apartment'),'cleaning_fee'] = 90.849887
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'Eco_Stay'),'cleaning_fee']  =  36.666667
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'Hotel'),'cleaning_fee'] = 64.017544
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'House'),'cleaning_fee'] = 128.687386
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'Other'),'cleaning_fee'] = 91.846154
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'house_guest'),'cleaning_fee'] = 70.701422
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'motor_stay'),'cleaning_fee'] = 81.000000
Df1.loc[(Df1['cleaning_fee'].isna()) & (Df1['property_type'] == 'private_stay'),'cleaning_fee'] = 80.300000

In [32]:
Df1['cleaning_fee'].isnull().sum()

0

In [33]:
Df1['review_scores_rating'].isnull().sum()

1474

In [34]:
Df1['review_scores_rating']=Df1['review_scores_rating'].fillna(0)

In [35]:
Df1['review_scores_rating'].isnull().sum()

0

In [36]:
#Df1.to_csv('Airbnb_data.csv',index=False)

In [37]:
Df1['country'].unique()

array(['United States', 'Turkey', 'Hong Kong', 'Australia', 'Portugal',
       'Brazil', 'Canada', 'Spain', 'China'], dtype=object)

In [38]:
Df1

,listing_id,listing_url,host_id,host_name,host_location,listing_name,listing_street,suburb,government_area,market,...,beds,bathrooms,total_review,price,security_deposit,cleaning_fee,extra_people,guests_included,images,review_scores_rating
0,1003530,https://www.airbnb.com/rooms/1003530,454250,Greta,"New York, New York, United States",New York City - Upper West Side Apt,"New York, NY, United States",Manhattan,Upper West Side,New York,...,1.0,1.0,70,135.0,0.000000,135.000000,0.0,1.0,https://a0.muscache.com/im/pictures/15074036/a...,94.0
1,10133554,https://www.airbnb.com/rooms/10133554,52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",Double and triple rooms Blue mosque,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,...,2.0,1.0,29,121.0,368.676617,70.701422,0.0,1.0,https://a0.muscache.com/im/pictures/68de30b5-e...,92.0
2,10059872,https://www.airbnb.com/rooms/10059872,51624384,Giovanni,"Hong Kong, Hong Kong","Soho Cozy, Spacious and Convenient","Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,...,2.0,1.0,3,699.0,514.925635,90.849887,0.0,1.0,https://a0.muscache.com/im/pictures/4533a1dc-6...,100.0
3,10084023,https://www.airbnb.com/rooms/10084023,51744313,Yi,United States,City center private room with bed,"Hong Kong , 九龍, Hong Kong",Sham Shui Po District,Sham Shui Po,Hong Kong,...,1.0,1.0,81,181.0,0.000000,50.000000,100.0,1.0,https://a0.muscache.com/im/pictures/e6275515-7...,92.0
4,10091713,https://www.airbnb.com/rooms/10091713,13764143,Ben,"New South Wales, Australia",Surry Hills Studio - Your Perfect Base in Sydney,"Surry Hills, NSW, Australia",Darlinghurst,Sydney,Sydney,...,1.0,1.0,64,181.0,300.000000,50.000000,0.0,1.0,https://a0.muscache.com/im/pictures/f8eaba4e-d...,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,51303748,Eren,"Kadikoy, Çanakkale, Turkey",Kadıköy-Altıyol,"Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,...,3.0,1.0,0,501.0,622.610278,128.687386,0.0,1.0,https://a0.muscache.com/im/pictures/e40d18b2-1...,0.0
5551,9993190,https://www.airbnb.com/rooms/9993190,51013381,Coconut Condos,"Lahaina, Hawaii, United States",Just Steps from the Ocean at Premier Platinum ...,"Lahaina, HI, United States",Lahaina,Lahaina,Maui,...,4.0,2.0,15,220.0,200.000000,315.000000,0.0,1.0,https://a0.muscache.com/im/pictures/be1978c5-6...,92.0
5552,9887054,https://www.airbnb.com/rooms/9887054,31386255,Cat,Hong Kong,Quarry Bay fully furnished studio C,"Hong Kong, Hong Kong Island, Hong Kong",Quarry Bay,Eastern,Hong Kong,...,1.0,1.0,4,400.0,3000.000000,90.849887,300.0,2.0,https://a0.muscache.com/im/pictures/a39e3f36-9...,85.0
5553,9907907,https://www.airbnb.com/rooms/9907907,47615848,Lucy,"Bondi Beach, New South Wales, Australia",Large double room in Bondi,"Bondi Beach, NSW, Australia",Bondi,Waverley,Sydney,...,1.0,1.0,0,60.0,514.925635,50.000000,50.0,2.0,https://a0.muscache.com/im/pictures/17a8857a-6...,0.0
5554,9936016,https://www.airbnb.com/rooms/9936016,47092481,Aliane,BR,Alugo Apartamento na Tijuca,"Rio de Janeiro, Rio de Janeiro, Brazil",Lapa,Centro,Rio De Janeiro,...,2.0,2.0,0,750.0,514.925635,90.849887,0.0,1.0,https://a0.muscache.com/im/pictures/9d939095-f...,0.0